doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="author" content="Asier Illarramendi")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title sapo.js | doup.illarra.com
        link(rel="stylesheet" href="app.css")
        link(rel="icon" href="favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")

    body
        div#preview
            canvas#canvas(width='300', height='300')
            select#presets
                option(value='' selected) Presets…
                each preset, key in presets
                    option(value=key) #{key + ((key === current) ? ' (default)' : '')}

            div#controls
        pre#editor.
            !{welcome}
            !{presets[current]}
        each preset, key in presets
            script(type='text/preset' data-preset-id=key) !{preset}
        script(src="vendors.js")
        script(src="app.js")
